<h2>Elimina producto</h2>

<form action="/productos/delete" method="post">
  <input type="text" placeholder="id" name="id" id="id">

  <br>
  <button type="submit">Submit</button>
</form>
 <br>
  <br>
  {{mensaje}}
  <br>
  <br>