<h2>Actualiza producto</h2>

<form action="/put" method="post">
  <input type="text" placeholder="id" name="id" id="id">
  <input type="text" placeholder="nombre" name="nombre" id="nombre">
  <input type="number" placeholder="codigo" name="codigo" id="codigo">
  <input type="number" placeholder="valor" name="valor" id="valor">
  <input type="text" placeholder="foto" name="foto" id="foto">
  <input type="number" placeholder="oferta" name="oferta" id="oferta">
  <input type="number" placeholder="categoria" name="categoria" id="categoria">
  <input type="text" placeholder="descripcion" name="descripcion" id="descripcion">
  <br>
  <button type="submit">Submit</button>
</form>
 <br>
  <br>
  {{mensaje}}
  <br>
  <br>