<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente API</title>
</head>
<body>
    <header>
        <h1>Productos</h1>
        <nav>
            <span>
                <a href="/">Home</a> |
                <a href="/productos/">Get</a>
                <a href="/productos/post">Post</a>
                <a href="/productos/put">Put</a>
                <a href="/productos/delete">Delete</a>
           </span>
        </nav>
        <hr>
    </header>

    {{{body}}}

    <footer>
        <span>Cliente Api Node Express</span>
    </footer>
</body>
</html>