<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente API</title>
</head>
<body>
    <header>
        <h1>Usuarios</h1>
        <nav>
            <span>
                <a href="/">Home</a> |
                <a href="/usuarios/">Get</a>
                <a href="/usuarios/post">Post</a>
                <a href="/usuarios/put">Put</a>
                <a href="/usuarios/delete">Delete</a>
           </span>
        </nav>
        <hr>
    </header>

    {{{body}}}

    <footer>
        <span>Cliente Api Node Express</span>
    </footer>
</body>
</html>