<h2>Agrega contactos</h2>

<form action="/post" method="post">
<input type="text" placeholder="id" name="id" id="id">
  <input type="text" placeholder="nombre" name="nombre" id="nombre">
  <input type="text" placeholder="apellido" name="apellido" id="apellido">
  <input type="text" placeholder="rut" name="rut" id="rut">
  <input type="text" placeholder="email" name="email" id="email">
  <input type="text" placeholder="contrasena" name="contrasena" id="contrasena">
  <input type="text" placeholder="tipoPermiso" name="tipoPermiso" id="tipoPermiso">
  
  <br>
  <button type="submit">Submit</button>
</form>
 <br>
  <br>
  {{mensaje}}
  <br>
  <br>