<h2>Actualiza contacto</h2>

<form action="/put" method="post">
  <input type="text" placeholder="id" name="id" id="id">
  <input type="text" placeholder="edad" name="edad" id="edad">
  <input type="text" placeholder="email" name="email" id="email">
  <input type="text" placeholder="nombre" name="nombre" id="nombre">
  <br>
  <button type="submit">Submit</button>
</form>
 <br>
  <br>
  {{mensaje}}
  <br>
  <br>