<div id="form-post" class="col-md-8 order-md-1">
  <h2>ELIMINAR</h2>
  <hr>
  <form action="/usuarios/delete" method="post">
  <!--ID-->
  <label for="id">ID</label>
  <input type="number" id="id" name="id" placeholder="" class="form-control" required>
  <hr>
  <button class="btn btn-lg btn-primary btn-block" id="btnvalida" type="submit">Eliminar</button>
  </form>
  <br>
  {{mensaje}}
</div>